In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from IPython.display import display, HTML

In [2]:
df_heros = pd.read_excel('superherodata-matched.xlsx',skip_footer=9,parse_cols='A:D')
display(df_heros)
df_rivals = pd.read_excel('superherodata-matched.xlsx',skiprows=8,skip_footer=1,parse_cols='A:D',names=df_heros.columns)
display(df_rivals)

              Name Alignment  Intelligence  Strength
0         Iron Man      good           100        85
1  Captain America      good            63        65
2             Hulk      good            88       100
3          Hawkeye      good            62        12
4             Thor      good            69       100
5       Spider-Man      good            88        55

           Name Alignment  Intelligence  Strength
0        Ultron       bad            95        83
1     Red Skull       bad            90        30
2   Abomination       bad            85        80
3      Bullseye       bad            75        11
4          Loki       bad            87        57
5  Green Goblin       bad            85        35

## T-test for paired and unpaired data

In [14]:

unpaired_intelli = \
stats.ttest_ind(np.array(df_heros['Intelligence']),np.array(df_rivals['Intelligence']), equal_var = True)

unpaired_stre = \
stats.ttest_ind(np.array(df_heros['Strength']),np.array(df_rivals['Strength']), equal_var = True)

print(unpaired_intelli,unpaired_stre)

Ttest_indResult(statistic=-1.1205095545912165, pvalue=0.28868503197303447) Ttest_indResult(statistic=1.1147174588142275, pvalue=0.29104440880175197)

## Pair data

In [4]:
df_pair = pd.read_excel('superherodata-matched.xlsx',skip_footer=9,parse_cols='F:G')
display(df_pair)
#print(df_heros.columns)
df_heros = df_heros.set_index('Name')
df_rivals = df_rivals.set_index('Name')

              Hero         Rival
0         Iron Man        Ultron
1  Captain America     Red Skull
2             Hulk   Abomination
3          Hawkeye      Bullseye
4             Thor          Loki
5       Spider-Man  Green Goblin

In [11]:
paired_intelli = []
paired_stre= []
for i in df_pair.index:
    hero = df_pair.loc[i]['Hero']
    rival = df_pair.loc[i]['Rival']
    paired_intelli.append(df_heros.loc[hero]['Intelligence'] - df_rivals.loc[rival]['Intelligence'] )
    paired_stre.append(df_heros.loc[hero]['Strength'] - df_rivals.loc[rival]['Strength'] )
    
print(paired_intelli,paired_stre)

[5, -27, 3, -13, -18, 3] [2, 35, 20, 1, 43, 20]

In [13]:
print(stats.ttest_1samp(paired_intelli,0))
print(stats.ttest_1samp(paired_stre,0))

Ttest_1sampResult(statistic=-1.4326871448205387, pvalue=0.2113828440847432)
Ttest_1sampResult(statistic=2.911987470743906, pvalue=0.033322599465829272)